.wrapper .text-date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 75px;
}

.text-date h1,
.wrapper h1 {
  font-size: 2rem;
  color: #080808;
}

.text-date p {
  font-size: 1.1rem;
  color: #080818;
}

.button-tambah-absensi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-tambah-absensi a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  padding: 10px 32px;
  background: orange;
  border-radius: 5px;
}

.wrapper .icon-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.icon-field .icon {
  font-size: 3.5rem;
  color: aqua;
}

.icon-field .icon.sad {
  color: orange;
}

.icon-field p {
  font-size: 1.1rem;
  font-weight: 600;
}

.wrapper h1 {
  text-align: center;
}

.wrapper h1.data-absensi {
  margin-bottom: 50px;
}

.wrapper table {
  width: 100%;
}

.wrapper table th,
.wrapper table td {
  padding: 7px;
}

.wrapper table td {
  font-size: 1rem;
  text-align: center;
}

.wrapper table .nama-kolom {
  text-align: start;
}

.wrapper .filter-field {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.filter-field form {
  flex-basis: 50%;
}

.filter-field select {
  width: 100%;
}

.filter-field select,
.filter-field select option {
  padding: 7px;
  font-size: 1.1rem;
}

.wrapper .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.pagination a {
  font-size: 16px;
  width: 30px;
  height: 30px;
  color: orange;
  font-weight: 600;
  background: none;
  border: 1px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.pagination a.halamanAktif {
  color: #fff;
  background: orange;
}
