.wrapper .text-date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 75px;
}

.text-date h1 {
    font-size: 2rem;
    color: #080808;
}

.text-date p {
    font-size: 1.1rem;
    color: #080818;
}

.button-tambah-absensi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-tambah-absensi a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    padding: 10px 32px;
    background: orange;
    border-radius: 5px;
}

.wrapper .icon-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.icon-field .icon {
    font-size: 3.5rem;
    color: aqua;
}

.icon-field .icon.sad {
    color: orange;
}

.icon-field p {
    font-size: 1.1rem;
    font-weight: 600;
}