.wrapper h1 {
  font-size: 2rem;
  text-align: center;
  color: #080808;
  margin-bottom: 3px;
}

.wrapper p {
  font-size: 1rem;
  text-align: center;
  color: #080818;
  margin-bottom: 50px;
}

.button-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  outline: 0;
  padding: 8px 30px;
  color: #fff;
  text-decoration: none;
  background: #080808;
  border-radius: 5px;
  font-size: 0.9rem;
}

#pageNum {
  font-size: 1.1rem;
  font-weight: 600;
}
