.wrapper h1 {
    font-size: 2rem;
    text-align: center;
    color: #080808;
    margin-bottom: 30px;
}

.wrapper form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

form h2 {
    font-size: 1rem;
    color: #080808;
    margin-right: 5px;
}
form select,
select option {
    font-size: 1rem;
    padding: 3px;
}

table {
    width: 100%;
    border-color: #080808;
}

table thead,
table tbody {
    width: 100%;
}

thead th {
    font-size: 1.1rem;
    color: #080808;
    padding: 7px;
}

tbody td {
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

form .select-field {
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: flex-start;
}