.wrapper h1 {
  font-size: 2em;
  color: #080808;
  margin-bottom: 50px;
  text-align: center;
}

.wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form>* {
  width: 100%;
}

form .field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.field .label {
  flex-basis: 15%;
  font-size: 1.1rem;
  font-weight: 600;
}

.field .two-point {
  font-weight: 600;
  margin-right: 15px;
}

.field input {
  flex: 1;
  width: 100%;
  outline: none;
  background: #dfdfdf;
  border: none;
  padding: 5px;
  font-size: 1rem;
  letter-spacing: .1px;
  opacity: .8;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.field #nama,
.field #kelas,
.field #no_absen {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.status-field {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.1rem;
}

#status .two-point {
  font-weight: 600;
}

#status .two-point {
  margin-right: 15px;
}

.jenis-status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  flex: 1;
}

#status {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.jenis-status label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}

.jenis-status label input {
  order: -1;
}

.jenis-status label span {
  font-size: 1.1rem;
}

label .keterangan-field {
  margin-bottom: 15px;
}

#keterangan {
  font-family: "Poppins", sans-serif;
  height: 100px;
  width: 100%;
  outline: none;
  padding: 5px;
  font-size: 1rem;
  letter-spacing: .1px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#keterangan.keterangan_guru {
  height: 150px;
}

form .button-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-area button {
  padding: 7px 25px;
  outline: none;
  border: none;
  font-size: .9rem;
  background: #080808;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}


form .disable {
  pointer-events: none;
}

.wrapper .message {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000%;
  border-top: 1px solid #198754;
  padding-top: 30px;
}

.message i {
  font-size: 5em;
  color: #198754;
  margin-bottom: 15px;
}

.message p {
  font-size: 2em;
  color: #198754;
  font-weight: 600;
  text-align: center;
}