* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media all and (max-width: 768px) {
  .wrapper-desktop {
    visibility: hidden;
  }
}

.wrapper-desktop {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1.5em;

  .img-container-desktop {
    display: flex;

    img {
      justify-content: center;
      align-items: center;
    }
  }
}

.wrapper-kabehan {
  @media all and (min-width: 768px) {
    display: flex;
  }

  .mobile {
    @media all and (min-width: 768px) {
      max-width: 290px;
    }
  }

  .wrapper {
    padding: 1.5em;
    max-width: 1200px;
    margin-inline: auto;
  }

  .profile {
    display: flex;
    justify-content: end;
    align-items: center;
    background: #b6aae1;
    padding: 1.5em;

    .profile-container {
      display: flex;

      align-items: center;
      gap: 1.7em;

      .img-container {
        border-radius: 50%;
      }

      @media all and (min-width: 768px) {
        .img-container {
          order: 1;
        }

        .info-profile {
          order: 2;
        }
      }

      .info-profile {
        p {
          font-size: 1.6rem;
          @media all and (max-width: 768px) {
            text-align: end;
          }
        }
      }
    }
  }

  section {
    margin-top: 5.8em;
    @media all and (min-width: 768px) {
      margin-top: 0;
    }
  }

  .pilihan {
    margin-inline: auto;

    .pilihan-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 2.4em;

      @media all and (min-width: 768px) {
        margin-top: 70%;
      }

      button {
        width: 9.4em;
        height: 9.4em;
        background: rgb(134, 134, 205);
        border-radius: 8px;
      }

      .tombol {
        text-align: center;
        h2 {
          padding-top: 0.8em;
        }
      }
    }
  }
}
